<div class="burger text_light">
    <i class="fa fa-bars" data-collapse-trigger data-target="burger-nav" aria-hidden="true"></i>

    <nav data-collapsable id="burger-nav">
            <a class='nav_link' href="{{path('app_home')}}">Accueil
                <i class="fa-solid fa-house"></i>
            </a>
            <form class='nav_link search-link' action="{{path('app_search')}}">Recherche rapide
                <input type="text" name="params" value="{% if paramsGet is defined %}{{paramsGet}}{% endif %}"> 
                <i class="fa-solid fa-magnifying-glass quicksearch-submit"></i>
            </form>

            {% if is_granted('ROLE_USER') and app.user.statut.name == 'artiste' %}
                <a class='nav_link {{ app.user.isVerified ? '' : 'deactivated' }}' href="{{ path('app_post_upload')}}">Upload
                    <i class="fa-solid fa-file-arrow-up"></i>
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class='nav_link' href="{{ path('app_admin')}}">Espace administrateur</a>
            {% endif %}

            {% if not(is_granted('ROLE_USER')) %}
                <a class="nav_link" href="{{path('app_login')}}">Se Connecter/S'inscrire
                    <i class="fa-solid fa-power-off"></i>
                </a>
            {% else %}

                <span class="user">
                    <a class="link-anim" href="{{ path('app_profile_infos',{username: app.user.username}) }}">
                        Bienvenue
                        {{app.user.username}}!
                        {% if not(app.user.avatar)%}
                            <img src="{{ asset('images/static/avatar.png') }}" alt="avatar">
                        {% else %}
                            <img src="{{ asset('images/users/' ~ app.user.avatar)}}" alt="avatar">
                        {% endif %}
                        {{ render(controller('App\\Controller\\ProfileController::listUnseenNotifs'))}}
                    </a>
                </span>

                <a class="nav_link" href="{{path('app_logout')}}">Se déconnecter
                    <i class="fa-solid fa-power-off"></i>
                </a>
            {% endif %}
    </nav>
</div>