<div class="comments">

	<div class="comment-new">
		{{form_start(commentForm)}}
		{{ form_row(commentForm.content, {
                                label: 'Votre message : '
                            }) }}
		<button type="submit" class="button" {% if not app.user %}onclick="alert('Vous devez être connecté pour poster un commentaire'); return false;"{% endif %}
         >Valider</button>
		{{form_end(commentForm)}}
	</div>

	<div class="messages-container">
		{% for comment in submission.comments | reverse %}
			<div class="message">
				<div class="head">
				{% if comment.user %}
					<div class="avatar">
						{% if comment.user.avatar %}
							<img src="{{ asset('images/users/' ~ comment.user.avatar)}}" alt="avatar">
						{% else %}
							<img src="{{ asset('images/static/avatar.png') }}" alt="avatar">
						{% endif %}
					</div>
					<div class="meta">
						<div class="author">
							<a class="attribute" target="_blank" href="{{path('app_profile_infos', {username : comment.user.username})}}">{{comment.user.username}}</a>
						</div>
						<div class="date">
							le
							{{comment.date | date('d/m/Y')}}
							à
							{{comment.date | date('h:i:s')}}
						</div>
					</div>
				{% else %}
					<p class="missing">Utilisateur supprimé</p>		
				{% endif %}
				</div>
				<div class="content">{{comment.content}}</div>
				
			</div>
		{% endfor %}
	</div>
</div>
