<div class="header">
	<header>
		{% include "_partials/burger.html.twig" %}
		<nav>
			<div class="left">
				<div class="logo">
					<img src="{{asset('images/static/logo2.png')}}" alt="logo">
				</div>
				<a class='nav_link' href="{{path('app_home')}}">Accueil
					<i class="fa-solid fa-house"></i>
				</a>
				<span class='nav_link' href="#" id="search-link">Recherche rapide
					<form action="{{path('app_search')}}">
						<input type="text" name="params" id="quicksearch-input" value="{% if paramsGet is defined %}{{paramsGet}}{% endif %}"> 
						<i class="fa-solid fa-magnifying-glass quicksearch-submit"></i>
					</form>
				</span>

				{% if is_granted('ROLE_USER') and app.user.statut.name == 'artiste' %}
					<a class='nav_link' href="{{ path('app_post_upload')}}">Upload
						<i class="fa-solid fa-file-arrow-up"></i>
					</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a class='nav_link' href="{{ path('app_admin')}}">Espace administrateur</a>
				{% endif %}

			</div>
			<div class="right">
				{% if not(is_granted('ROLE_USER')) %}
					<a class="nav_link" href="{{path('app_login')}}">Se Connecter/S'inscrire
						<i class="fa-solid fa-power-off"></i>
					</a>
				{% else %}

					<span class="user">
						<a href="{{ path('app_profile_infos',{username: app.user.username}) }}">
							Bienvenue
							{{app.user.username}}!
							{% if not(app.user.avatar)%}
								<img src="{{ asset('images/static/avatar.png') }}" alt="avatar">
							{% else %}
								<img src="{{ asset('images/users/' ~ app.user.avatar)}}" alt="avatar">
							{% endif %}
							{{ render(controller('App\\Controller\\ProfileController::listUnseenNotifs'))}}
						</a>
					</span>

					<a class="nav_link" href="{{path('app_logout')}}">Se déconnecter
						<i class="fa-solid fa-power-off"></i>
					</a>
				{% endif %}
			</div>
		</nav>

	</header>

	{% if app.user and app.user.isVerified == false %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			<div class="alert-message">
				<strong>Votre compte n'est pas activé !</strong>
				<a href="{{ path('resend_verif')}}">Renvoyer un lien d'activation</a>
			</div>
		</div>
	{% endif %}

	{% include "_partials/flash.html.twig" %}
</div>
