{% extends 'base.html.twig' %}

{% block title %}
	{% if allowEditing %}
		Votre profil
	{% else %}
		Profil de {{user.username}}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('css/profile.css')}}">
{% endblock %}


{% block body %}


		<div class="greet">
			<h1>
				{% if allowEditing %}
					Bienvenue sur votre profil
					{{ user.username }}!
				{% else %}
					Bienvenue sur le profil de
					{{ user.username}}!
				{% endif %}
			</h1>

			{% if allowEditing %}
				<p>Ici vous pouvez voir vos informations et les modifier</p>
			{% endif %}
		</div>

		{# navbar pour afficher les blocs #}
		<nav class="tabs">
			<button class="profile_tabs active" data-target="infos">Mes informations</button>
			<button class="profile_tabs" data-target="favoris">Mes favoris</button>
			{% if allowEditing %}
				<button class="profile_tabs" id="show-notifications" data-target="notifications">Mes notifications</button>
			{% endif %}

			{% if user.statut.name == 'artiste' %}
				<button class="profile_tabs" data-target="ToS">Mes conditions d'utilisation</button>
				<button class="profile_tabs" data-target="galerie">Galerie</button>
				{% if allowEditing %}
					<button class="profile_tabs" data-target="my-commissions">Mes commandes</button>
				{% else %}
					<a class="profile_tabs {% if not app.user or not user.disponible or not app.user.isVerified %}deactivated{% endif %}" href="{{path('app_commission', {username : user.username})}}" >Faire une commande
						<i class="fa-solid fa-file"></i>
						
					</a> 
				{% endif %}
			{% endif %}
			{% if allowEditing %}
						<button class="profile_tabs" data-target="demandes">Mes demandes</button>
			{% endif %}
			{% if not allowEditing %}
				<a href="{{path('app_send_notif', {username : user.username})}}" class="profile_tabs {{ (not app.user is null and app.user.isVerified) ? '' : 'deactivated' }}"> Message privé
					<i class="fa-solid fa-envelope"></i>
				</a>
			{% endif %}
		</nav>

		<div class="content">
			
			{% include "_partials/profile/infos.html.twig" %}

			{% include "_partials/profile/favoris.html.twig" %}

			{% include "_partials/profile/ToS.html.twig" %}
			
			{% include "_partials/profile/posts.html.twig" %}

			{% include "_partials/profile/notifs.html.twig" %}
			
			{% include "_partials/profile/commissions.html.twig" %}

			
		</div>

		<div id="artiste-modal" class="modal" data-collapsable>
			<div class="modal-content">
				<h3>Changer de statut?</h3>
					<p>En validant vous allez passer du statut de simple visiteur à celui d'artiste, ce qui vous permettra de créer une galerie et même recevoir des commissions!</p>
					<p>Il vous sera demandé de renseigner certaines informations supplémentaires pour être validé en tant qu'artiste.</p>
					<div class="buttons">
						<a href="{{ path('app_change_status',{username: user.username})}}" class="button">Valider</a>
						<button class="button" onclick="document.querySelector('#artiste-modal').classList.remove('collapsed');return false;">Annuler</button>
					</div>
			</div>
		</div>
		{% block javascripts %}
			{{ parent() }}
			<script src="{{asset('js/profile.js')}}"></script>
		{% endblock %}
{% endblock %}
