{% extends 'base.html.twig' %}

{% block title %}Envoyer une notification
{% endblock %}

{% block stylesheets %}

	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/form.css')}}">

{% endblock %}

{% block body %}
    {% form_theme notifForm 'forms/fields.twig' %}
    
	{{ form_start(notifForm, { 'attr' : { 'class': 'text_light form-data' } }) }}
	<div class="form-content">
        <h1>Envoyer une notification à {{recipient.username}}</h1>

        <div class="inputs">
            {{ form_row(notifForm.content, {
                        label: 'contenu : ',
                    }) }}
        </div>
        <button type="submit" class="button">Enregistrer</button>
    </div>
	{{ form_end(notifForm) }}



{% endblock %}
