{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur MartKetplace!
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/search.css')}}">
{% endblock %}

{% block body %}
	{% include "_partials/presentation.html.twig" %}

	{% include "_partials/search.html.twig" %}

	<h1 class="home-page">
		{% if paramsGet is defined or arrayPost is defined %}
			Page {{page}}/{{totalPage}}		
		{% else %}
			Explorez!
		{% endif %}
	</h1>
	<div class="page-buttons">
		{% if page > 1 %}
			<a class="button left" href="{{ path('app_home',{page : page-1 })}}"><< page
				{{ page - 1}}</a>
		{% endif %}
		{% if page < totalPage %}
			<a class="button right" href="{{ path('app_home',{page : page+1 })}}">page
				{{ page + 1}} >></a>
		{% endif %}
	</div>
	<div class="images_container block-content expandable">
		
		{% if users is defined and not users is empty %}
			{% for user in users %}
				<div class="submission text_light">
					<a href="{{ path('app_profile_infos', { 'username': user.username })}}"><img src="{{ asset('images/users/' ~ user.avatar) }}" alt="{{ user.username }}"/>
						<h3>{{ user.username }}</h3>
					</a>
				</div>
			{% endfor %}
		{% else %}
			{% if submissions|length == 0 %}
				Aucun résultat pour votre recherche
			{% endif %}
			{% for submission in submissions | reverse %}
				<div class="submission text_light">
					<a href="{{ path('app_post_show', { 'postId':submission.id })}}"><img src="{{ asset('images/users/' ~ submission.url) }}" alt="{{ submission.title }}"/>
						<h3>{{ submission.title }}</h3>
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>

	<div class="page-buttons">
		{% if page > 1 %}
			<a class="button left" href="{{ path('app_home',{page : page-1 })}}"><< page
				{{ page - 1}}</a>
		{% endif %}
		{% if page < totalPage %}
			<a class="button right" href="{{ path('app_home',{page : page+1 })}}">page
				{{ page + 1}} >></a>
		{% endif %}
	</div>

	{% block javascripts %}
		{{parent()}}
		<script src="{{asset('js/search.js')}}"></script>
	{% endblock %}
	{# Dans le cas où il y a eu une recherche avancée, on collapse le menu de recherche et on affiche le type de recherche approprié #}
	{% if arrayPost is defined and not arrayPost is empty %}
		<script>
			document.getElementById('search-container').classList.add('collapsed');
			if('{{arrayPost['type']}}'=='artist')
				toggleType();
		</script>
	{% endif %}
{% endblock %}
