{% extends 'base.html.twig' %}

{% block title %}Hello SubmissionController!
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/post.css')}}">
	<link rel="stylesheet" href="{{ asset('css/comments.css')}}">
{% endblock %}

{% block body %}
	<div class="image">
		<img src="{{ asset('images/users/' ~ submission.url)}}" alt="{{ submission.title }}">
	</div>
	<div class="actions">
    {% if isFaved %}
		<a href="{{path('app_post_unfav',{postId:submission.id})}}" class="button">retirer des favoris</a>
    {% else %}
		<a href="{{path('app_post_fav',{postId:submission.id})}}" class="button">ajouter aux favoris</a>
    {% endif %}
	{% if editAllowed %}
		<a href="{{path('app_post_delete',{postId:submission.id})}}" class="button" onclick="return confirm('Voulez-vous vraiment supprimer ce post?')">Supprimer</a>
	{% endif %}
	</div>

    <div class="description"></div>
    
    
    {% include "_partials/comments.html.twig" %}

{% endblock %}
