{% extends 'base.html.twig' %}

{% block title %}Espace admin
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

{% block body %}

	<div class="user-container text_light">
        <h1>Liste des utilisateurs : </h1>
        <div class="filter">
            <label for="user-filter">filtrer :
            </label>
            <input type="text" id="user-filter">
        </div>
        <div class="users">
            {% for user in users %}
                <div class="user-row">
                    <a target="_blank" href="{{path('app_profile_infos', { username : user.username })}}" class='username'>{{user.username}}</a>
                    <div class="actions">
                        <a class="link-anim" href="{{path('app_send_notif', { username : user.username })}}">Notifier</a>
                        <a class="link-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur?')"  href="{{path('app_admin_delete', {  userId : user.id, csrf_token : csrf_token('remove') })}}">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        {{parent()}}
        <script src="{{asset('js/admin.js')}}"></script>
    {% endblock %}
{% endblock %}
