{% extends 'base.html.twig' %}

{% block title %}Espace admin
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

{% block body %}
	<div class="filter">
		<label for="user-filter">filtrer :
		</label>
		<input type="text" id="user-filter">
	</div>
	<div class="user-container">
        {% for user in users %}
            <div class="user-row">
                <a target="_blank" href="{{path('app_profile_infos', { username : user.username })}}" class='username'>{{user.username}}</a>
                <div class="actions">
                    <a href="{{path('app_send_notif', { username : user.username })}}">Notifier</a>
                    <a onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur?')"  href="{{path('app_admin_delete', {  userId : user.id })}}">supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{parent()}}
        <script src="{{asset('js/admin.js')}}"></script>
    {% endblock %}
{% endblock %}
