<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# bootstrap seulement pour les flash message #}
		<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}">
		<script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>

		{# font awesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('css/style.css')}}">

		{% endblock %}


	</head>
	<body>

		{% include '_partials/header.html.twig' %}

		{% include '_partials/flash.html.twig' %}


		<div class="main"> 
		{% block body %}
		{% endblock %}
		</div>

			{% block javascripts %}
				<script src="{{asset('js/search.js')}}"></script>
				<script src="{{asset('js/utils.js')}}"></script>
			{% endblock %}
			
			{% include '_partials/footer.html.twig' %}
		</body>
	</html>
