{% extends 'base.html.twig' %}

{% block title %}Nouvelle commission
{% endblock %}

{% block stylesheets %}

	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/form.css')}}">

{% endblock %}

{% block body %}
    {% form_theme commissionForm 'forms/fields.twig' %}
    
	{{ form_start(commissionForm, { 'attr' : { 'class': 'text_light form-data' } }) }}
	<div class="form-content">
        <h1>Nouvelle commission</h1>

        <div class="inputs">
            {{ form_row(commissionForm.title, {
                        label: 'Intitulé : ',
                    }) }}
            {{ form_row(commissionForm.description, {
                        label: 'Description : ',
                    }) }}
            {{ form_row(commissionForm.deadline, {
                        label: 'Deadline : '
                    }) }}
            {{ form_row(commissionForm.nodeadline, {
                        label: 'Pas de deadline : '
                    }) }}
            {{ form_row(commissionForm.category, {
                        label: 'Catégorie : '
                    }) }}
        </div>
        <button type="submit" class="button">Valider la demande</button>

    </div>
	{{ form_end(commissionForm) }}

<script>
    const deadline = document.getElementById('commission_deadline');
    const container = document.createElement('div');
    for (const child of document.querySelectorAll('#commission_deadline select')) {
        container.append(child);
    }
    container.style.justifyContent = 'flex-end';
    deadline.append(container);
</script>

{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/commission.js')}}"></script>
{% endblock %}
