{# bloc des notifications #}
{% if allowEditing %}
	<div class="profile_content notifications" id="block-notifications" data="notifications">
		<p>Mes notifications</p>
		<label for="sender-choice">filter par envoyeur :
		</label>
		<select name="sender-choice" id="sender-choice" filter="notif">
			<option value="all" selected>Tous</option>
			{% for sender in senders %}
				<option value="{{sender}}">{{sender}}</option>
			{% endfor %}
		</select>
		{% for notif in user.receivedNotifs | reverse %}
			<div class="notif {{notif.seen ? '' : 'unseen ' }}{% if 'ROLE_ADMIN' in notif.author.roles %}notif-admin{% endif %}" filtrable="notif" data="{{notif.author.username}}">
				{# le raw permet de rajouter un lien clickable dans le cas où la notification est un signalement, pour faciliter l'accès au contenu signalé #}
				{% if notif.report %}
					<p>{{notif.content | raw}}</p>
				{% else %}
					<p>{{notif.content}}</p>
				{% endif %}
			</div>
		{% endfor %}
		<script>
			$('#show-notifications').click(function () {
                $.ajax({url: '{{ path('app_update_notifs', {'username': user.username}) }}', type: 'GET'})
            $('#notifs-indicator') ?. remove();
            })
		</script>
	</div>
{% endif %}
